In [56]:
import csv
import pandas as pd

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
stations = pd.read_csv('data/2021_stations.csv')
deplacement2021 = pd.read_csv('data/2021_donnees_ouvertes.csv')

In [3]:
deplacement2021.head()

,start_date,emplacement_pk_start,end_date,emplacement_pk_end,duration_sec,is_member
0,2021-05-21 17:21:44.934,10,2021-05-21 18:07:58.699,10,2773,1
1,2021-06-12 14:45:02.959,10,2021-06-12 15:11:14.937,187,1571,0
2,2021-08-27 08:19:17.396,10,2021-08-27 08:29:04.477,506,587,1
3,2021-06-11 19:07:28.724,10,2021-06-11 19:50:30.214,10,2581,0
4,2021-05-25 07:19:29.669,10,2021-05-25 07:47:42.001,423,1692,1

In [4]:
stations.head()

   pk                                         name   latitude  longitude
0  10  Métro Angrignon (Lamont /  des Trinitaires)  45.446910 -73.603630
1  13       Métro de l'Église (Ross / de l'Église)  45.462726 -73.565959
2  17                            Tolhurst / Fleury  45.544149 -73.667520
3  21                     St-Christophe / Cherrier  45.520290 -73.568119
4  31                        Lespérance / de Rouen  45.538839 -73.552779

In [37]:
deplacement2021.isnull().sum()

start_date              0
emplacement_pk_start    0
end_date                0
emplacement_pk_end      0
duration_sec            0
is_member               0
dtype: int64

In [41]:
start_session = deplacement2021['emplacement_pk_start'].value_counts()
end_session = deplacement2021['emplacement_pk_end'].value_counts()
start_session, end_session

(256     47793
 242     35899
 173     35731
 330     31685
 167     31229
         ...
 1140        9
 893         7
 904         7
 1014        2
 1136        1
 Name: emplacement_pk_start, Length: 825, dtype: int64,
 256     47203
 173     35689
 470     34669
 242     31843
 332     31497
         ...
 1014        2
 1136        2
 969         1
 1021        1
 977         1
 Name: emplacement_pk_end, Length: 829, dtype: int64)

In [45]:
deplacement2021['is_member'].sum()/len(deplacement2021), stations['name'].count()

(0.8236749693945931, 829)

In [50]:
date_start = pd.to_datetime(deplacement2021['start_date'])

In [55]:
date_start.dt.month.

0           5
1           6
2           8
3           6
4           5
           ..
5490038    11
5490039    11
5490040    11
5490041    11
5490042    11
Name: start_date, Length: 5490043, dtype: int64

In [52]:
date_start.dt.weekday

0          4
1          5
2          4
3          4
4          1
          ..
5490038    3
5490039    5
5490040    3
5490041    2
5490042    6
Name: start_date, Length: 5490043, dtype: int64