But du notebook : recuperer et organiser les données afin de créer une carte interactive

# 1.Data loading

The data can be downloaded from the bixi montréal website.  
 https://bixi.com/fr/donnees-ouvertes  
you can download them by doing : 
 ```
 wget https://sitewebbixi.s3.amazonaws.com/uploads/docs/2021-stations-87d92f.zip 
 ```

In [1]:
import pandas as pd 
from datetime import datetime

In [2]:
deplacement = pd.read_csv('transfo-data/2021-rawdata.csv')
deplacement.head()

,start_date,emplacement_pk_start,end_date,emplacement_pk_end,duration_sec,is_member
0,2021-05-21 17:21:44.934,10,2021-05-21 18:07:58.699,10,2773,1
1,2021-06-12 14:45:02.959,10,2021-06-12 15:11:14.937,187,1571,0
2,2021-08-27 08:19:17.396,10,2021-08-27 08:29:04.477,506,587,1
3,2021-06-11 19:07:28.724,10,2021-06-11 19:50:30.214,10,2581,0
4,2021-05-25 07:19:29.669,10,2021-05-25 07:47:42.001,423,1692,1

In [3]:
deplacement = deplacement.drop(columns=["end_date","duration_sec","is_member"])
deplacement_unique = deplacement.groupby(["emplacement_pk_start","emplacement_pk_end"]).count()
deplacement_unique = deplacement_unique.reset_index()
deplacement_unique.head()
deplacement_unique[deplacement_unique["emplacement_pk_start"]==deplacement_unique["emplacement_pk_end"]]["start_date"].sum()

181624

We success to import the 5 millions deplacements of Montrealers in 2021. 
Now we can import the stations because we have only the *pk* and not the exact emplacement

In [5]:
stations = pd.read_csv('transfo-data/2021_stations.csv')
stations.loc[stations["latitude"]==-1.0, "latitude"]=45.49277
stations.loc[stations["longitude"]==-1.0, "longitude"]=-73.55641
stations.head()

   pk                                         name   latitude  longitude
0  10  Métro Angrignon (Lamont /  des Trinitaires)  45.446910 -73.603630
1  13       Métro de l'Église (Ross / de l'Église)  45.462726 -73.565959
2  17                            Tolhurst / Fleury  45.544149 -73.667520
3  21                     St-Christophe / Cherrier  45.520290 -73.568119
4  31                        Lespérance / de Rouen  45.538839 -73.552779

As you can see, we correct an error found earlier for the coordinates of the Peel/Smith station

We now perform a merge to obtain the geographical locations of each path

In [6]:
start = deplacement_unique.merge(stations, left_on="emplacement_pk_start", right_on="pk")
start.rename({"latitude":"pickup_latitude", "longitude":"pickup_longitude", "start_date":"nb", "name":"pickup_name"},errors="raise",axis='columns',inplace=True)
start_end = start.merge(stations, left_on="emplacement_pk_end", right_on="pk")
start_end.rename({"latitude":"dropoff_latitude", "longitude":"dropoff_longitude"},errors="raise",axis='columns',inplace=True)
deplacement_final = start_end.drop(columns=["emplacement_pk_end", "emplacement_pk_start","pk_x","pk_y"])
deplacement_final.head()

,nb,pickup_name,pickup_latitude,pickup_longitude,name,dropoff_latitude,dropoff_longitude
0,684,Métro Angrignon (Lamont / des Trinitaires),45.446910,-73.603630,Métro Angrignon (Lamont / des Trinitaires),45.44691,-73.60363
1,46,Métro de l'Église (Ross / de l'Église),45.462726,-73.565959,Métro Angrignon (Lamont / des Trinitaires),45.44691,-73.60363
2,2,St-Christophe / Cherrier,45.520290,-73.568119,Métro Angrignon (Lamont / des Trinitaires),45.44691,-73.60363
3,10,Métro Vendôme (de Marlowe / de Maisonneuve),45.473868,-73.604538,Métro Angrignon (Lamont / des Trinitaires),45.44691,-73.60363
4,20,Métro Guy-Concordia (Guy / St-Catherine),45.495045,-73.577830,Métro Angrignon (Lamont / des Trinitaires),45.44691,-73.60363

In [7]:
deplacement_final["name"]=deplacement_final["pickup_name"]+deplacement_final["name"]
deplacement_final.set_index("name",inplace=True)
deplacement_final.drop("pickup_name",axis=1)
deplacement_final.head()

,nb,pickup_name,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
name,,,,,,
Métro Angrignon (Lamont / des Trinitaires)Métro Angrignon (Lamont / des Trinitaires),684,Métro Angrignon (Lamont / des Trinitaires),45.446910,-73.603630,45.44691,-73.60363
Métro de l'Église (Ross / de l'Église)Métro Angrignon (Lamont / des Trinitaires),46,Métro de l'Église (Ross / de l'Église),45.462726,-73.565959,45.44691,-73.60363
St-Christophe / CherrierMétro Angrignon (Lamont / des Trinitaires),2,St-Christophe / Cherrier,45.520290,-73.568119,45.44691,-73.60363
Métro Vendôme (de Marlowe / de Maisonneuve)Métro Angrignon (Lamont / des Trinitaires),10,Métro Vendôme (de Marlowe / de Maisonneuve),45.473868,-73.604538,45.44691,-73.60363
Métro Guy-Concordia (Guy / St-Catherine)Métro Angrignon (Lamont / des Trinitaires),20,Métro Guy-Concordia (Guy / St-Catherine),45.495045,-73.577830,45.44691,-73.60363

In [8]:
from pathlib import Path
filepath = Path('data/deplacement.csv')
# deplacement_final.to_csv(filepath)

A file containing all the trips is now savedA file containing all the trips is now saved and can be used in Keglergl.

In [9]:
df=deplacement_final.groupby("pickup_name").count()
df

,nb,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
pickup_name,,,,,
10e avenue / Holt,500,500,500,500,500
10e avenue / Masson,566,566,566,566,566
12e avenue / St-Zotique,442,442,442,442,442
15e avenue / Masson,523,523,523,523,523
16e avenue / Beaubien,463,463,463,463,463
...,...,...,...,...,...
du Tricentenaire / Prince-Albert,28,28,28,28,28
la Fontaine / Alexandre-de-Sève,488,488,488,488,488
Édouard-Montpetit / de Stirling,571,571,571,571,571
Émile-Duployé / Sherbrooke,627,627,627,627,627
Émile-Journault / de Chateaubriand,355,355,355,355,355

Sum of deplacements by stations for 2021

In [10]:
count_stations=deplacement["emplacement_pk_start"].value_counts()
count_stations=pd.DataFrame({"station":count_stations.index,"nb_trajets":count_stations.values}).set_index("station")
count_stations=count_stations.merge(stations,left_on="station",right_on="pk")
count_stations=count_stations[["pk","name","latitude","longitude","nb_trajets"]]
count_stations.set_index("name",inplace=True)
count_stations.to_csv("data\\2021_count_stations.csv")
count_stations

,pk,latitude,longitude,nb_trajets
name,,,,
Métro Mont-Royal (Rivard / du Mont-Royal),256,45.524673,-73.582550,47793
du Mont-Royal / Clark,242,45.519410,-73.586850,35899
Marquette / du Mont-Royal,173,45.532290,-73.575440,35731
Parc Jeanne Mance (monument sir George-Etienne Cartier),330,45.514840,-73.584779,31685
Boyer / du Mont-Royal,167,45.527432,-73.579917,31229
...,...,...,...,...
Parc St-Laurent (Dutrisac),1140,45.525914,-73.689111,9
René-Lévesque / 9e avenue,893,45.640739,-73.500826,7
Marmier,904,45.531007,-73.598799,7
Robert Bourassa / Sainte-Catherine,1014,45.503215,-73.569979,2
Terminus Le Carrefour (Terry-Fox / Le Carrefour),1136,45.568420,-73.746873,1

Group deplacement by month

In [11]:
test=pd.to_datetime(deplacement["start_date"])
deplacement_with_time=deplacement.copy()
deplacement_with_time["start_date"]=test
deplacement_with_time.set_index("start_date",inplace=True)
deplacement_with_time

                         emplacement_pk_start  emplacement_pk_end
start_date
2021-05-21 17:21:44.934                    10                  10
2021-06-12 14:45:02.959                    10                 187
2021-08-27 08:19:17.396                    10                 506
2021-06-11 19:07:28.724                    10                  10
2021-05-25 07:19:29.669                    10                 423
...                                       ...                 ...
2021-11-11 14:55:04.039                  1140                1140
2021-11-13 16:56:22.412                  1140                1140
2021-11-11 18:41:06.111                  1140                 928
2021-11-10 18:17:49.654                  1140                 928
2021-11-14 14:04:58.449                  1140                1117

[5490043 rows x 2 columns]

In [12]:
deplacement_with_time.loc["2021-06":"2021-06"]

/tmp/ipykernel_127684/2281455126.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  deplacement_with_time.loc["2021-06":"2021-06"]

                         emplacement_pk_start  emplacement_pk_end
start_date
2021-06-12 14:45:02.959                    10                 187
2021-06-11 19:07:28.724                    10                  10
2021-06-12 21:13:02.887                    10                 456
2021-06-13 19:45:29.834                    10                  10
2021-06-10 07:48:12.048                    10                 197
...                                       ...                 ...
2021-06-30 23:09:19.544                  1025                 578
2021-06-30 23:51:55.129                  1025                 234
2021-06-30 17:28:25.193                  1025                 677
2021-06-30 16:12:58.347                  1025                 749
2021-06-30 16:10:19.147                  1025                 167

[792472 rows x 2 columns]