In [1]:
import pandas as pd 
from datetime import datetime
import glob
import os

In [ ]:
files = os.path.join("../transfo-data/", "OD_2018*.csv")
files = glob.glob(files)
files

In [ ]:
df2018 = pd.concat(map(pd.read_csv, files), ignore_index=True)
df2018.start_date = df2018.start_date.apply(lambda x: x.split(" ")[0])
df2018_daily = df2018.groupby("start_date").count()
df2018_daily.drop(df2018_daily.columns.difference(["start_date","start_station_code"]),axis = 1,inplace=True)
df2018_daily.reset_index(inplace=True)
df2018_daily.rename({"start_station_code":"nb"},inplace=True,errors="raise",axis="columns")
df2018_daily.sort_values(by=["start_date"], inplace=True)
df2018_daily.head()

In [2]:
files19 = os.path.join("../transfo-data/", "OD_2019*.csv")
files19 = glob.glob(files19)
files19

['../transfo-data/OD_2019-10.csv',
 '../transfo-data/OD_2019-04.csv',
 '../transfo-data/OD_2019-08.csv',
 '../transfo-data/OD_2019-09.csv',
 '../transfo-data/OD_2019-07.csv',
 '../transfo-data/OD_2019-06.csv',
 '../transfo-data/OD_2019-05.csv']

In [6]:
df2019 = pd.concat(map(pd.read_csv, files19), ignore_index=True)
df2019.drop(df2019.columns.difference(["start_date","start_station_code"]),axis = 1,inplace=True)
df2019.start_date = df2019.start_date.apply(lambda x: x.split(" ")[0])
df2019_daily = df2019.groupby("start_date").count()
df2019_daily.reset_index(inplace=True)
df2019_daily.rename({"start_station_code":"nb"},inplace=True,errors="raise",axis="columns")
df2019_daily.sort_values(by=["start_date"], inplace=True)
df2019_daily.head()

   start_date     nb
0  2019-04-14   9143
1  2019-04-15   7310
2  2019-04-16  13672
3  2019-04-17  19726
4  2019-04-18  13505

In [8]:
df2019_daily.to_csv('../data/2019nb.csv',index=False)

In [9]:
df2020 = pd.read_csv('../transfo-data/OD_2020.csv')
df2020.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2020-04-15 06:00:04,6212,2020-04-15 06:20:54,6250,1250,1
1,2020-04-15 06:05:41,6369,2020-04-15 06:32:47,6072,1626,1
2,2020-04-15 06:07:27,6207,2020-04-15 06:19:32,7038,724,1
3,2020-04-15 06:09:16,6202,2020-04-15 06:18:49,6212,572,1
4,2020-04-15 06:09:38,6159,2020-04-15 06:24:23,7067,885,1

In [10]:
df2020.drop(df2020.columns.difference(["start_date","start_station_code"]),axis = 1,inplace=True)
df2020.start_date = df2020.start_date.apply(lambda x: x.split(" ")[0])
df2020_daily = df2020.groupby("start_date").count()
df2020_daily.reset_index(inplace=True)
df2020_daily.rename({"start_station_code":"nb"},inplace=True,errors="raise",axis="columns")
df2020_daily.sort_values(by=["start_date"], inplace=True)
df2020_daily.head()

   start_date    nb
0  2020-04-15  2566
1  2020-04-16  2345
2  2020-04-17  2801
3  2020-04-18  6235
4  2020-04-19  1997

In [11]:
df2020_daily.to_csv('../data/2020nb.csv',index=False)